{% if request.user.is_staff %}
{% include 'Dashboard.html' %}
{% block content %}
 <div class="container-fluid" >
       
    <div class="justify-content-center bg-dark text-white align-items-center" style="width:calc(100%-345px); margin-left: 345px;">
     <form  method="post" style="width: 100%; padding: 10%;" class="form-group">
       <h6 class="text-center">Gushyiramo Missa</h6>
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Andika Missa" class=" btn btn-success form-control my-3">
     </form>
    </div>
</div>

{% endblock %}
{% else %}
<h3>hello,not allowed to access this page</h3>
{% endif %}


