<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ifishi ya Batisimu</title>
    <style>
      .ifishi{
        /* background-color: brown; */
        border: 1px;
        border-radius: 15px;
        width: 300px;
        height: 400px;
        justify-content: center;
        align-items: center;
      }
    </style>
</head>
<body style="height: 500px;width: 400px;">
    <div class="ifishi">
        <h4 style="text-align: center;margin: 20px;">Ifishi Ya Batisimu</h4>
        <div class="text" style="text-align:scenter;">
            <p><b>Amazina</b>:{{ amazina }} {{ nom }}</p>
            <p><b>amazina ya papa</b>:{{ papa }}</p>
            <p><b>amazina ya Mama</b>:{{ mama }}</p>
            <p><b>umubyeyi wa Batisimu</b>:{{ umubyeyi }}</p>
            <p><b>parroise</b>:{{ parroise }}</p>
            <p><b>province</b>:{{ province }}</p>
             <p><b>District</b>:{{ district }}</p>
            <p><b>itariki y'amavuko</b>:{{ amavuko }}</p>
            <p><b>itariki yo kubatizwa</b>:{{ batisimu }}</p>
            <p><b>itariki yo guhabwa Ukaristiya</b>:{{ ukaristiya }}</p>
            <p><b>itariki yo gukomezwa </b>:{{ gukomezwa }}</p>
        </div>
        
    </div>
    
</body>
</html>