{% extends 'base.html' %}

{% block content  %}

<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div class="card justify-content-center align-items-center " >
        <div class="card-img-top">
            <img class="img-fluid" style="height: fit-content; width: fit-content;" src="{{ event.thumb.url }}" alt="">
        </div>
        <div class="card-body">
            <div class="card-title"><h1 class="text-center">{{ event.title }} {{ event.date }}</h1></div>
            <div class="card-text">{{ event.description }}</div>
        </div>

    </div>
        </div>
    </div>
    
    
</div>
{% endblock content  %}
