{% extends 'dashboard.html' %}
{% block content %}

 <div class="row align-items-center" >
        <div class="col-lg-4">
            <div class="card-single">
               <div>
                    <h1>{{ icyangombwa }}</h1>
                    <span>Total christian cards</span>
                </div>
                <div>
                    <span class="fa fa-id-card-o" aria-hidden="true"></span>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card-single">
               <div>
                    <h1>{{ events }}</h1>
                    <span>Total Events</span>
                </div>
                <div>
                    <span class="fa fa-calendar-o" aria-hidden="true"></span>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card-single">
               <div>
                    <h1>{{ announcements }}</h1>
                    <span>Announcements</span>
                </div>
                <div>
                    <span class="fa fa-bullhorn" aria-hidden="true"></span>
                </div>
            </div>
        </div>
    </div>


    <!--New Row-->
     <div class="row">
        <div class="col-4">
            <div class="card-single">
               <div>
                    <h1>{{ pending.count }}</h1>
                    <span> requested  cards</span>
                </div>
                <div>
                    <span class="fa fa-question-circle" aria-hidden="true"></span>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card-single">
               <div>
                    <h1>{{ users }}</h1>
                    <span>Total User</span>
                </div>
                <div>
                    <span class="fa fa-users" aria-hidden="true"></span>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card-single">
               <div>
                    <h1>{{ staffs }}</h1>
                    <span>Total staffs</span>
                </div>
                <div>
                    <span class="fa fa-briefcase" aria-hidden="true"></span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}