{% extends 'base.html' %}
{% block content %}
<div class="icyangombwa_box">
   <div class="icyangombwa">
      <h3>IFISHI YA BATISIMU</h3>
      <span><b>Amazina</b> : {{ icyemezo.amazina }}</span><br>
      <span> <b>Mama</b> {{ icyemezo.mama }}</span><br>
      <span><b>Papa</b> : {{ icyemezo.papa }}</span><br>
      <span><b>umubyeyi wa Batisimu</b> : {{ icyemezo.umubyeyi_wa_batisimu }}</span><br>
      <span><b>parroise</b> : {{ icyemezo.parroise }}</span><br>
      <span><b>Itariki ya Batisimu</b> : {{ icyemezo.batisimu }}</span><br>
      <span><b>Itariki yo Guhabwa Ukaristiya</b> : {{ icyemezo.Ukaristiya }}</span><br>
      <span><b>Itariki yo Gukomezwa</b> : {{ icyemezo.Gukomezwa }}</span>
   </div>
</div>
     

{% endblock %}