{% extends 'base.html' %}
{% block content  %}
 <div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h5>Kwandikisha umwana Mushya  </h5>
            <button class="btn btn-success"><a class="text-white text-decoration-none" href="/ubukarani/kwiyandikisha"> Andikisha</a>  </button>
        </div>
        <div class="col-lg-6">
            <h5>Kureba icyemezo cy'umwana</h5>
            <button class='btn btn-success'> <a href="/ubukarani/icyemezo" class="text-decoration-none text-white">Reba Icyemezo</a> </button>
        </div>
    </div>
    
 </div>

{% endblock content %}